DB_URL=jdbc:mysql://localhost:3306/weshedule?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true&createDatabaseIfNotExist=true
DB_USERNAME=your_db_user
DB_PASSWORD=your_db_password

MAIL_USERNAME=your_mail_username
MAIL_PASSWORD=your_mail_password

JWT_SECRET=your_long_random_jwt_secret

# Application Configuration
APP_BASE_URL=http://localhost:8080
